
.center{
	margin: auto;
	display: block;
	image-orientation: center;
}

.embedded-header{
	color: blue;
	text-align: center;


}
.btn btn-secondary {
	color: blue;
}

.professional-experience {
	color:blue
}

.fancy {
	color:black
}

.education {
	color: blue
}

.awards {
	color:blue
}
 
.nav-link {
	color:blue
}

.name {
	color:blue
}

.professional-experience { text-align: left;}


.summary {text-align: center;}

.duties { font-size: small;}

.certification { font-size: small;}

.list { font-size: small;}


.references {text-align: center;}

.social media {height: 20px;
	           width: 20 px;
			}

.nav-item {font-size: large;
color:blue}


.lightgray { background-color: lightgray;}

.summaryparagraph {background-color: lightgray;}

h1 {
	font-size: 20px;
  }
  
  h2 {
	font-size: 30px;
  }

  h3 {
	  font-size: 20px;
  }

  h4 {
	  font-size: 10px;
  }