
.center{
	margin: auto;
	display: block;
	image-orientation: center;
}

.embedded-header{
	color: blue;


}
.btn btn-secondary {
	color: blue;
}

.professional-experience {
	color:blue
}

.fancy {
	color:gray
}

.education {
	color: blue
}

.awards {
	color:blue
}
 